In [1]:
! pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\kanch\appdata\roaming\python\python310\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\kanch\appdata\roaming\python\python310\site-packages (from pyspark) (0.10.9.3)

In [2]:
from pyspark.sql import SparkSession

spark= SparkSession.builder.appName("ml_project").getOrCreate()

In [4]:
spark

In [7]:
df = spark.read.csv('Admission_Predict_Ver1.1.csv', header=True, inferSchema=True)

In [8]:
df.show()

+---------+---------+-----------+-----------------+---+---+----+--------+---------------+
|Serial No|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+
|        1|      337|        118|                4|4.5|4.5|9.65|       1|           0.92|
|        2|      324|        107|                4|4.0|4.5|8.87|       1|           0.76|
|        3|      316|        104|                3|3.0|3.5| 8.0|       1|           0.72|
|        4|      322|        110|                3|3.5|2.5|8.67|       1|            0.8|
|        5|      314|        103|                2|2.0|3.0|8.21|       0|           0.65|
|        6|      330|        115|                5|4.5|3.0|9.34|       1|            0.9|
|        7|      321|        109|                3|3.0|4.0| 8.2|       1|           0.75|
|        8|      308|        101|                2|3.0|4.0| 7.9|       0|           0.68|
|        9|      302|        102|                1|2.0|1.5| 8.0|       0|            0.5|
|       10|      323|        108|                3|3.5|3.0| 8.6|       0|           0.45|
|       11|      325|        106|                3|3.5|4.0| 8.4|       1|           0.52|
|       12|      327|        111|                4|4.0|4.5| 9.0|       1|           0.84|
|       13|      328|        112|                4|4.0|4.5| 9.1|       1|           0.78|
|       14|      307|        109|                3|4.0|3.0| 8.0|       1|           0.62|
|       15|      311|        104|                3|3.5|2.0| 8.2|       1|           0.61|
|       16|      314|        105|                3|3.5|2.5| 8.3|       0|           0.54|
|       17|      317|        107|                3|4.0|3.0| 8.7|       0|           0.66|
|       18|      319|        106|                3|4.0|3.0| 8.0|       1|           0.65|
|       19|      318|        110|                3|4.0|3.0| 8.8|       0|           0.63|
|       20|      303|        102|                3|3.5|3.0| 8.5|       0|           0.62|
+---------+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [9]:
shape = (df.count(), len(df.columns))

print(shape)

(500, 9)

In [10]:
df.printSchema()

root
 |-- Serial No: integer (nullable = true)
 |-- GRE Score: integer (nullable = true)
 |-- TOEFL Score: integer (nullable = true)
 |-- University Rating: integer (nullable = true)
 |-- SOP: double (nullable = true)
 |-- LOR: double (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Research: integer (nullable = true)
 |-- Chance of Admit: double (nullable = true)

In [11]:
df.describe().show()

+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-------------------+
|summary|        Serial No|         GRE Score|      TOEFL Score|University Rating|               SOP|               LOR|              CGPA|          Research|    Chance of Admit|
+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-------------------+
|  count|              500|               500|              500|              500|               500|               500|               500|               500|                500|
|   mean|            250.5|           316.472|          107.192|            3.114|             3.374|             3.484| 8.576440000000003|              0.56| 0.7217399999999996|
| stddev|144.4818327679989|11.295148372354712|6.081867659564538|1.143511800759815|0.9910036207566072|0.9254495738978191|0.6048128003332054|0.4968840786090358|0.14114040395030228|
|    min|                1|               290|               92|                1|               1.0|               1.0|               6.8|                 0|               0.34|
|    max|              500|               340|              120|                5|               5.0|               5.0|              9.92|                 1|               0.97|
+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-------------------+

In [12]:
df= df.drop('Serial No')

In [13]:
df.show(2)

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|      337|        118|                4|4.5|4.5|9.65|       1|           0.92|
|      324|        107|                4|4.0|4.5|8.87|       1|           0.76|
+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 2 rows

In [14]:
print(df[df['GRE Score'].isNull()].count())

0

In [15]:
for col in df.columns:
  print(col + ':' , df[df[col].isNull()].count())

GRE Score: 0
TOEFL Score: 0
University Rating: 0
SOP: 0
LOR: 0
CGPA: 0
Research: 0
Chance of Admit: 0

## Corelation Analysis & Feature Selection

In [16]:
print(df.stat.corr('GRE Score', 'Chance of Admit'))

0.8103506354632601

In [17]:
for col in df.columns:
  print(f"{col} is {round(df.stat.corr(col, 'Chance of Admit'),3)} correlated with the target variable Chance of Admit")

GRE Score is 0.81 correlated with the target variable Chance of Admit
TOEFL Score is 0.792 correlated with the target variable Chance of Admit
University Rating is 0.69 correlated with the target variable Chance of Admit
SOP is 0.684 correlated with the target variable Chance of Admit
LOR is 0.645 correlated with the target variable Chance of Admit
CGPA is 0.882 correlated with the target variable Chance of Admit
Research is 0.546 correlated with the target variable Chance of Admit
Chance of Admit is 1.0 correlated with the target variable Chance of Admit

In [18]:
from pyspark.ml.feature import VectorAssembler 

assembler = VectorAssembler(inputCols=['GRE Score','TOEFL Score', 'CGPA'],outputCol='features' )

In [19]:
output_data = assembler.transform(df)
output_data.show()

+---------+-----------+-----------------+---+---+----+--------+---------------+------------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|          features|
+---------+-----------+-----------------+---+---+----+--------+---------------+------------------+
|      337|        118|                4|4.5|4.5|9.65|       1|           0.92|[337.0,118.0,9.65]|
|      324|        107|                4|4.0|4.5|8.87|       1|           0.76|[324.0,107.0,8.87]|
|      316|        104|                3|3.0|3.5| 8.0|       1|           0.72| [316.0,104.0,8.0]|
|      322|        110|                3|3.5|2.5|8.67|       1|            0.8|[322.0,110.0,8.67]|
|      314|        103|                2|2.0|3.0|8.21|       0|           0.65|[314.0,103.0,8.21]|
|      330|        115|                5|4.5|3.0|9.34|       1|            0.9|[330.0,115.0,9.34]|
|      321|        109|                3|3.0|4.0| 8.2|       1|           0.75| [321.0,109.0,8.2]|
|      308|        101|                2|3.0|4.0| 7.9|       0|           0.68| [308.0,101.0,7.9]|
|      302|        102|                1|2.0|1.5| 8.0|       0|            0.5| [302.0,102.0,8.0]|
|      323|        108|                3|3.5|3.0| 8.6|       0|           0.45| [323.0,108.0,8.6]|
|      325|        106|                3|3.5|4.0| 8.4|       1|           0.52| [325.0,106.0,8.4]|
|      327|        111|                4|4.0|4.5| 9.0|       1|           0.84| [327.0,111.0,9.0]|
|      328|        112|                4|4.0|4.5| 9.1|       1|           0.78| [328.0,112.0,9.1]|
|      307|        109|                3|4.0|3.0| 8.0|       1|           0.62| [307.0,109.0,8.0]|
|      311|        104|                3|3.5|2.0| 8.2|       1|           0.61| [311.0,104.0,8.2]|
|      314|        105|                3|3.5|2.5| 8.3|       0|           0.54| [314.0,105.0,8.3]|
|      317|        107|                3|4.0|3.0| 8.7|       0|           0.66| [317.0,107.0,8.7]|
|      319|        106|                3|4.0|3.0| 8.0|       1|           0.65| [319.0,106.0,8.0]|
|      318|        110|                3|4.0|3.0| 8.8|       0|           0.63| [318.0,110.0,8.8]|
|      303|        102|                3|3.5|3.0| 8.5|       0|           0.62| [303.0,102.0,8.5]|
+---------+-----------+-----------------+---+---+----+--------+---------------+------------------+
only showing top 20 rows

## Linear Regression model

In [20]:
from pyspark.ml.regression import LinearRegression

final_data = output_data.select('features', 'Chance of Admit')

In [21]:
final_data.printSchema()

root
 |-- features: vector (nullable = true)
 |-- Chance of Admit: double (nullable = true)

In [22]:
train, test = final_data.randomSplit([0.7,0.3])

In [23]:
models = LinearRegression(featuresCol= 'features', labelCol='Chance of Admit')

model= models.fit(train)

In [24]:
print('Coefficients:', model.coefficients)

print('Intercept:', model.intercept)

Coefficients: [0.0024747549852638727,0.003164664476105887,0.14441484929680135]
Intercept: -1.6397813583792231

In [25]:
summary = model.summary

In [26]:
print('RMSE :', summary.rootMeanSquaredError)

print('r2 :', summary.r2)

RMSE : 0.06380720879259
r2 : 0.7942162698494056

## Evaluate & Save the Model

In [28]:
predictions= model.transform(test)

In [29]:
predictions.show()

+------------------+---------------+-------------------+
|          features|Chance of Admit|         prediction|
+------------------+---------------+-------------------+
|  [293.0,97.0,7.8]|           0.64| 0.5187301310004131|
|[295.0,101.0,7.86]|           0.69| 0.5450031898331724|
|  [296.0,97.0,7.8]|           0.49|  0.526154395956205|
| [297.0,99.0,7.81]|           0.54| 0.5364026283866485|
| [298.0,97.0,7.21]|           0.45|0.44589914484161963|
|  [298.0,98.0,7.5]|           0.44|0.49094411561379814|
| [298.0,98.0,8.03]|           0.34| 0.5674839857411025|
|[299.0,100.0,7.88]|           0.68|  0.554625842284058|
| [299.0,106.0,8.4]|           0.64| 0.6487095507750305|
| [300.0,98.0,8.02]|           0.61| 0.5709893472186625|
|  [300.0,99.0,6.8]|           0.36|0.39796789555267087|
|[300.0,101.0,7.88]|           0.59|  0.560265261745428|
|[300.0,104.0,8.16]|           0.71| 0.6101954129768503|
|[301.0,100.0,8.04]|           0.67|  0.582681728142074|
|[301.0,104.0,7.89]|           0.68| 0.5736781586519772|
|[301.0,104.0,8.12]|           0.68| 0.6068935739902417|
|[301.0,106.0,8.47]|           0.57| 0.6637681001963343|
|[301.0,107.0,8.34]|           0.62|  0.648158834263856|
| [302.0,102.0,8.0]|            0.5| 0.5857092181076775|
| [303.0,99.0,7.66]|           0.36| 0.5295889309037112|
+------------------+---------------+-------------------+
only showing top 20 rows

In [33]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator(predictionCol='prediction', labelCol='Chance of Admit', metricName='r2')

print('r2 score:', evaluator.evaluate(predictions))

r2 score: 0.8243887050704706

In [ ]:
model.save('model')

In [ ]:
from pyspark.ml.regression import LinearRegressionModel

model_new= LinearRegressionModel.load('model')

In [ ]:
model_new